body {
	font-family: 'Share Tech Mono', monospace;

	font-size: 14px;
	background-color: black

}

* {
	box-sizing: border-box;
}

input,
.btn {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
}

input:hover,
.btn:hover {
	opacity: 1;
}

input[type=submit] {
	background-color: #36b03c;
	color: white;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}


.col {
	float: left;
	width: 50%;
	margin: auto;
	padding: 0 50px;
	margin-top: 6px;
}


.row:after {
content: "";
	display: table;
clear: both;
}

.wrapper{
	margin :0 auto;
	padding-bottom: 25px;
	padding: 10px;
	width: 504px;
	border: none;
	opacity: 0.85;
	border-radius: 4px;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}


.bottom-container {
	text-align: center;
	background-color: #666;
	border-radius: 0px 0px 4px 4px;
	width: 100%;
}


input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

/* Walidacja wpisywanych danych */
#message {
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
	display: none;
}

#message p {
	padding: 10px 35px;
	font-size: 18px;
}
