.modal-title{
    color: rgb(255, 255, 255);
}

.modal-content{
    background-color: #16001E;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.modal-body{
    border-radius: 5px;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.contentbar{
    margin-top:20px;
}
.cart-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px;
}
.cart-container .cart-body {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0 20px;
  margin: 20px 0 30px;
  
}
.card{
    background-color: #16001E;
    
}

.table{
    color: white;
}

.form-control:focus{

	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}


input:hover,
.btn:hover {
  opacity: 1;
}

input[type=submit] {
  background-color: #36b03c;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#update_cart:hover,
.btn:hover,
#go_checkout:hover,
#apply_coupon:hover{
  opacity: 1;
}

#update_cart,
#go_checkout,
#apply_coupon{
  background-color: #36b03c;
  color: white;
  cursor: pointer;
}

#update_cart:hover,
#go_checkout:hover,
#apply_coupon:hover {
  background-color: #45a049;
}

#apply_coupon{
    margin-left: 5px;
    border: 0px;
}
