{% extends "base.html"%}

{% block title %}
Account Page
{% endblock %}

{% block styles %}  
<link href="../static/styles.css" rel="stylesheet">  
{% endblock %} 

{% block content %}
<div class="wrapper" style="display: inline-block" >
    <h2>Your Account</h2>
    <p>Fill in the fields below and click submit to change your account data</p>
    <form id="msform" method="post">
        {{form.hidden_tag()}}
        <div class="form-group"> {{ form.first_name( placeholder="first_name", class="form-control") }}
        <div class="form-group"> {{ form.last_name( placeholder="last_name", class="form-control") }}
        <div class="form-group"> {{ form.gender( placeholder="gender", class="form-control") }}
        <div class="form-group"> {{ form.nationality( placeholder="Nationality", class="form-control") }}
        <div class="form-group"> {{ form.phone_number( placeholder="Phone number", class="form-control") }}
        <div class="form-group"> {{ form.street_number( placeholder="Street number", class="form-control") }}
        <div class="form-group"> {{ form.street_name( placeholder="Street name", class="form-control") }}
        <div class="form-group"> {{ form.zip_code( placeholder="Zip code", class="form-control") }}
        {{ form.submit(type="submit", class="btn btn-primary") }} 
        <button type="submit" name="next" class="next action-button" value="check_dk">Next</button>     
        </div>
        <p>Don't have a account yet? <a href="register">Register Here</a>.</p>
    </form>
</div>

{% endblock %}