{% extends "base.html"%}

{% block styles %}
<link href="../static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
	<div class="wrapper" style="display: inline-block" >
		<h2>Login page</h2>
		<p>Fill in the fields below to log in</p>
		<form method="post">
			{{form.hidden_tag()}}
			<div class="form-group">
				{{ form.username(type= "text", placeholder="Username", class="form-control")}}
			</div>
			<div class="form-group">
				{{ form.password(type= "password", placeholder="Password", class="form-control")}}
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-primary") }}
			</div>
			<p>Don't have a account yet? <a href="register">Register Here</a>.</p>
		</form>
	</div>
{% endblock %}