{% extends "base.html"%}

{% block styles %}
<link href="../static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %}
Register page
{% endblock %}

{% block content %}

<div class="wrapper">
    <h2>Register</h2>
    <p>Fill in the fields below to create your account</p>
    <form method="post">
        {{form.hidden_tag()}}
        {% for key,value in form.errors.items(): %}
        <!-- piotrek to mily gosc -->
        {% print(value[0]) %}
        {% endfor %}
        <div class="form-group">
            {{ form.username( placeholder="Username", class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email_address( placeholder="E-mail", class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password1( placeholder="Password", class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password2( placeholder="Confirm password", class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(type="submit", class="btn btn-primary") }}
            <input type="reset" class="btn btn-default" value="Reset entered data">
        </div>
        <p>Already have an account? <a href="login">Log in here</a>.</p>
    </form>
</div>




{% endblock %}